@model CoreCodedChatbot.Web.ViewModels.Moderation.SearchViewModel
@{
    ViewData["Title"] = "Search";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/transferuser.min.css"/>
}

<div class="jumbotron">
    <h2>Search</h2>
</div>

@{
        Html.BeginForm("SubmitSearch", "Moderation", new {@name="SearchForm" });
}

<div class="form-group">
    @Html.LabelFor(m => m.SongName)
    @Html.EditorFor(m => m.SongName, new {@class = "form-control"})
    @Html.ValidationMessageFor(m => m.SongName)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ArtistName)
    @Html.EditorFor(m => m.ArtistName, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.ArtistName)
</div>
<br/>
<div class="row">
    <button id="submitButton" class="btn btn-primary" type="submit">Submit</button>
</div>
@{
    Html.EndForm();
}

@foreach (var result in Model.SearchResults)
{
<div class="row">
    @if (result.IsOfficial)
    {
        <button type="button" class="btn btn-danger">Official Song</button>
    }
    else if (result.IsLinkDead)
    {
        <button type="button" class="btn btn-secondary">Cannot Download</button>
    }
    else if (result.IsDownloaded)
    {
        <button type="button" class="btn btn-warning">Already downloaded</button>
    }
    else
    {
        <button id="@result.SongId" type="button" class="btn btn-primary" onclick="downloadSong(event)">Download To Drive</button>
    }
    <p> @result.SongName - @result.SongArtist - Charted by: @result.CharterUsername</p>
</div>
}

<script>
    function downloadSong(event) {
        var songId = JSON.stringify({SongId: parseInt(event.target.id)});

        $.ajax({
            url: '@Url.Action("DownloadToOneDrive", "Moderation")',
            type: "POST",
            data: songId,
            contentType: "application/json",
            success: function() {
                $(event.target).text("Saved!");
            },
            error: function() {
                $(event.target).text("Error - Try again");
            }
        });
    }
</script>